.fun_cover {
    width: 100%;
    max-width: 1200px;
    /* margin: 0 120px; */
}

.fun_intro {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: space-around; */
    /* width: 100%; */
}

.fun_intro h1 {
    writing-mode: vertical-lr;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 120px;

}

.fun_intro img {
    width: 100%;
    vertical-align: bottom;
    border-radius: 5px;
    transform: scaleX(-1);
}

.fun_content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 10%;
}

.hot{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#play1 {
    display: flex;
    flex-wrap: nowrap;
    /* border: 2px solid red; */
    justify-content: space-evenly;
}

#play2,#play3 {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    display: none;
    flex-wrap: nowrap;
}



.attractions_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.attractions_text h2 {
    font-size: 32px;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.attractions_text h3 {
    font-size: 24px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-underline-offset: 20px;

}

.attractions_text p {
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#play1,#play2,#play3 img {
    width: 100%;
    vertical-align: bottom;
    border-radius: 5px;
}


.image-container {
    position: relative;
    width: 670px;
    /* 设置图像容器的宽度 */


}

.hover-effect {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    /* 添加过渡效果，使变化更平滑 */
}

.hover-effect:hover {
    transform: scale(1.1);
    /* 鼠标悬停时放大图像，可以根据需要调整比例 */
}

.fun_content button {
    text-decoration: none;
    margin: 200px 0;
    font-size: 48px;
    display: block;
    color: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.spot_title button{
    color: black; /* 白色文本颜色 */
    padding: 10px 20px; /* 内边距 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 去除文本下划线 */
    display: inline-block; /* 使按钮表现为块级元素 */
    font-size: 24px; /* 文本大小 */
    margin: 4px 2px; /* 外边距 */
    cursor: pointer;
    border: none;
    background-color: none;
    font-family: 'Noto Serif TC', serif;
    background-color: #FFF1DE;
    letter-spacing: 0.1em;
    border-radius: 5px;
}

.spot_title button:hover{
    background-color: #FEE4DA;
}

.hot_spot{
    margin-top: 10%;
}

.hot_spot h2{
    font-size: 32px;
    letter-spacing: 0.1em;
    padding: 10px 0;
}

.card{
    width: 370px;
    margin: 15px;
    background-color: rgb(210,176,125,0.2);
    text-align: center;
    position: relative;
    border-radius: 5px;
    
}

.row a{
    display: inline;
    text-decoration: none;
    color: inherit;
}
/* 
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

.card .photo{
    /* width: 100%; */
    padding: 20px;
}

.card h3{
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.card p{
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    padding: 20px;
}

.card:hover{
    transform: translateY(-30px);
}

.card{
    transform: translateY(0);
    transition: .5s;
}

.gps{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12%;
    height: auto;
}

.hidden{
    display: none;
}


@media (max-width:768px) {
    .fun_cover{
        max-width: 100%;
        height: auto;
    }

    .fun_intro{
        justify-content: flex-start;
        margin-top: 20%;
        max-width: 100%;
        height: auto;
    }

    .fun_intro h1{
        padding: 2%;
        font-size: 24px;
        box-sizing: border-box;
        
    }

    .fun_intro img{
        max-width: none;
        height: auto;
        width: 60%;
        /* margin: auto; */
    }

    .fun_content h2{
        font-size: 24px;
        line-height: 1.5em;
    }

    .fun_content h3{
        font-size: 18px;
        text-underline-offset: 2%;
        margin-top: 5%;
    }

    .fun_content p{
        font-size: 12px;
        margin: 5%;
    }

    .fun_content{
        text-align: center;
        margin-top: 20%;
    }

    .attractions{
        flex-direction: column;
    }

    .attr2{
        display: none;
    }

    .fun_content img{
        max-width: 100%;
        height: auto;
        object-fit: contain;

    }

    .image-container{
        width: 100%;
    }

    .hover-effect:hover {
        transform: scale(1);
    }

    .fun_content button{
        display: none;
    }

    .hot_spot h2{
        font-size: 24px;
        margin-left: 3%;
    }

    .spot_title button{
        font-size: 20px;
    }

    .row{
        margin-top: 5%;
    }

    .row h3{
        font-size: 18px;
    }

    .row p{
        font-size: 14px;
    }

    .card{
        width: 100%;
        height: auto;
        margin: 10% auto;
    }



}