body {
    font-family: 'Noto Serif TC', serif;
    background-color: #FFF1DE;
}

.bannerpic img {
    width: 100%;
    height: 600px;
}

#logo img {
    margin-left: 40px;
    width: 100px;
    position: absolute;
    top: 10px;
    position: fixed;
}

nav {
    position: fixed;
    top: 0;
    width: 90%;
    right: 0;
    background: rgba(246, 190, 177, .5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    z-index: 2;
}

ul, li, ul li a{
    height: 100%;
    line-height: 100px;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    letter-spacing: 0.1em;
}
ul li a:hover {
    background-color: #F6BEB1;
    color: white;
}

.flex-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.food_cover{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.food_intro{
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: space-around; */
    margin:100px 0 50px 0px
}

.food_intro> :first-child{
    margin-left: 20%;
}

.food_intro h1{
    writing-mode: vertical-lr;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 100px;

}

.food_intro img{
    /* width: 100%; */
    vertical-align: bottom;
    border-radius: 5px;
}

.food_cover p{
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin-left: 500px;
}

.card h3{
    font-size: 24px;
    letter-spacing: 0.5em;
    line-height: 2em;

}

.card p{
    font-size: 18px;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    margin-top: 5%;
}

.card2 h3{
    font-size: 24px;
    letter-spacing: 0.5em;
    line-height: 2em;

}

.card2 p{
    font-size: 18px;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    margin-top: 5%;
}

.row{
    /* border: 2px solid red; */
    margin-top: 10%;

}

.card2{
    margin-left: 8%;
    position: relative;
}

.card{
    position: relative;
    /* border: 2px solid red; */
}

.tab1{
    position: absolute;
    top: -7%;
    font-size: 24px;
    background-color: rgba(255, 225, 215);
    padding: 10px;
    border-radius: 5px;
}

.tab2{
    position: absolute;
    right: 0;
    top: -5%;
    font-size: 24px;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.card2 img{
    width: 100%;
    height: 439px;
    /* 注意跑版 */
    border-radius: 5px;
}

hr.style-one {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-top: 2%;
}

.footer_container{
    width: 100%;
    margin-top: 10%;
    display: flex;
    background-color: rgb(154,84,18,0.9);
    border-radius: 5px; 
}

.footer{
    width: 1200px; 
    margin: auto; 
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */

}

.footer h2{
    writing-mode: vertical-lr;
    font-size: 32px;
    color: white;
    margin-top: 1%; 
    letter-spacing: 0.1em;
}

.footer h3{
    font-size: 32px;
    color:white;
    font-weight: bold;
    margin-top: 1%;
    letter-spacing: 0.1em;
}

.palmy{
    position: relative; 
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    /* border: 2px solid red; */
}

.ig{
    padding-top: 8%;
}

.fb{
    padding-top: 5%;
    margin-left: 3%;
}

.footer_p{
    display: flex;
    font-size: 24px;
    margin-top: 2%;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: white;
}

.p2{
    margin-left: 2%;
}

.map a{
    position: absolute;
    right: 0;
    top: 48%;
    text-decoration: none;
    color: white;
}

.palmy a:hover{
    color: black;
    border-radius: 5px;
}

iframe{
    width: 1000px;
    height: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
}