.bannerpic img {
    width: 100%;
    height: 600px;
}



.food_cover {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.food_intro {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: space-around; */
    margin: 100px 0 50px 0px;
    width: 100%;

}

.food_intro> :first-child {
    margin-left: 20%;
}

.food_intro h1 {
    writing-mode: vertical-lr;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 100px;

}

.food_intro img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border-radius: 5px;
    overflow: hidden;
}

.food_cover p {
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin-left: 500px;
}

.card h3 {
    font-size: 24px;
    letter-spacing: 0.5em;
    line-height: 2em;

}

.card p {
    font-size: 18px;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    margin-top: 5%;
}

.card2 h3 {
    font-size: 24px;
    letter-spacing: 0.5em;
    line-height: 2em;
    margin-top: 1%;

}

.card2 p {
    font-size: 18px;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    margin-top: 5%;
}

.row {
    /* border: 2px solid red; */
    margin-top: 10%;

}

.card2 {
    margin-left: 8%;
    position: relative;

}

.card {
    position: relative;
    /* border: 2px solid red; */

}

.tab1 {
    position: absolute;
    top: 0%;
    font-size: 24px;
    background-color: rgba(255, 225, 215);
    padding: 10px;
    border-radius: 5px;
}

.tab2 {
    position: absolute;
    right: 0;
    top: 0%;
    
}

.tab2 button{
    font-size: 24px;
    border: none;
    background-color: #F5CEA9;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card2 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

hr.style-one {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-top: 2%;
}



@media (width<1200px) {
    .bannerpic img {
        height: auto;
    }

    .food_cover {
        max-width: 100%;
        height: auto;
        margin-top: 10%;
    }

    .food_intro {
        margin: 0;
        height: auto;
    }

    .food_intro h1 {
        padding: 5%;
        font-size: 24px;
    }

    .food_intro> :first-child {
        margin-left: 0%;
    }

    .food_cover p {
        margin: 10% 15%;
        font-size: 14px;
       
    }

    .row .tab1 {
        font-size: 14px;
    }

    .row .tab2 {
        font-size: 14px;
    }

    .row h3 {
        font-size: 14px;
    }

    .row p {
        font-size: 12px;
       
    }
}

@media (width<768px) {
    .row h3 {
        text-align: center;
    }

    .row p {
        text-align: center;
    }

    .card2 {
        margin: 10% 0;
    }

    .card {
        margin: 10% 0;
    }
}