/* body {
    font-family: 'Noto Serif TC', serif;
    background-color: #FDF3E5;

} */

.bannerpic img {
    width: 100%;
    height: 95vh;
    opacity: 80%;
    object-fit: cover;
    display: flex;
}

#sliderBoard {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#content {
    position: relative;
    /* width: 100%; */
}

#content li {
    float: left;
}

#contentButton {
    text-align: center;
    width: 100%;
    height: 50px;
}

#contentButton li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    margin: 8px;
}

#contentButton li.clicked {
    background-color: #666;
}




.slogan {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.slogan img {
    position: absolute;
    top: 30%;
    right: 23%;
    z-index: 0;
}

.slogan p {
    position: absolute;
    top: 50%;
    right: 25%;
    font-size: 28px;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.1em;
    z-index: 0;
}

.slogan p span {
    color: #6D3C0E;
    font-weight: bold;
}

.cover img {
    width: 500px;
    height: 400px;
    /* object-fit: cover; 圖片不變形*/
    border-radius: 5px;
}

.cover {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1200px;
}

.cover h2 {
    font-size: 32px;
    margin: 0 0 15%;
    letter-spacing: 0.1em;
}

.cover .concept p {
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 40px;
}

.cover .concept p span {
    color: #6D3C0E;
    font-weight: bold;
}

.sleep {
    /* border: 2px solid red; */
    padding-top: 7%;
    max-width: 1200px;
    margin: auto;

}

.sleep h2 {
    font-size: 32px;
    margin: 0 0 5%;
}

.container a {
    text-decoration: none;
    color: inherit;
}

.card h3 {
    font-size: 24px;
    margin: 5% 0 5% 0;
    letter-spacing: 0.1em;
}

.card p {
    font-size: 18px;
    height: 20%;
}

.card p span {
    color: #6D3C0E;
    font-weight: bold;
}

.tab {
    background-color: rgba(255, 225, 215);
    padding: 16px 20px;
    position: absolute;
    letter-spacing: 0.1em;
    border-radius: 5px;
    z-index: 1;
}

.card img {
    height: 410px;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 5px;
}

.image-container {
    overflow: hidden;
}

.hover-effect {
    display: block;
    width: 100%;
    height: auto;
    /* transform-origin: 50% 80%; */
    transition: transform 0.3s ease-in-out;
    /* 添加过渡效果，使变化更平滑 */
}

.hover-effect:hover {
    transform: scale(1.1);
    /* 鼠标悬停时放大图像，可以根据需要调整比例 */
}

.information img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-top: 10%;
    vertical-align: middle;
}

.information {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-evenly;
}

.people1 img {
    width: 15px;
    height: 15px;
    margin-left: 30%;
    margin-top: 30%;
}

.wifi img {
    margin-left: 10%;
}

.square-feet p {
    margin-left: 10%;
}

.card p {
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.learn-more a {
    text-decoration: none;
    color: inherit;
    background-color: #F5CEA9;
    padding: 16px 20px;
    position: absolute;
    margin-top: 5%;
    right: 15%;
    letter-spacing: 0.1em;
    border-radius: 5px;
    box-sizing: border-box;
}

.learn-more a:hover {
    background-color: #D9B18C;
}

.book-now a {
    text-decoration: none;
    color: inherit;
    background-color: rgb(154, 84, 18, 0.78);
    color: white;
    padding: 16px 20px;
    position: absolute;
    margin-top: 5%;
    right: 0;
    letter-spacing: 0.1em;
    border-radius: 5px;
    box-sizing: border-box;
}

.book-now a:hover {
    background-color: #CCA581;
}

.container {
    position: relative;
}

.card {
    height: 100%;
}

.eat_fun {
    /* border: 2px solid red; */
    max-width: 1200px;
    padding-top: 10%;
    display: grid;
    column-gap: 50px;
    /* padding-left: 10%;  */
    justify-content: center;
    margin: auto;


}

.eat_fun a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.index_fun {
    grid-column: 2;
    grid-row: 2;
}

.index_eat h2 {
    font-size: 32px;
    margin-bottom: 5%;
}

.index_fun h2 {
    font-size: 32px;
    margin-bottom: 5%;
}

.index_eat p {
    /* margin-top: 5%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgb(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s;
    color: white;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
}

.item1:hover .text1 {
    opacity: 1;
}

.item1 {
    position: relative;
    /* border: 2px solid red; */
}

.index_fun p {
    /* margin-top: 5%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgb(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s;
    color: white;
    align-items: center;
    font-weight: bold;

}

.item2 {
    position: relative;
    /* border: 2px solid red; */
}

.item2:hover .text2 {
    opacity: 1;
}

.index_eat img {
    border-radius: 5px;
    vertical-align: bottom;
    width: 100%;
    /* height: 400px; */

}

.index_fun img {
    border-radius: 5px;
    width: 100%;
    vertical-align: bottom;
    /* height: 400px; */
}

.index_eat_learn-more a {
    background-color: #F5CEA9;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    border-radius: 5px;
    position: absolute;
    margin-top: 5%;
    right: 0;

}

.index_eat {
    position: relative;
    width: 100%;
    /* border: 2px solid red; */
}

.index_eat_learn-more a:hover {
    background-color: #D9B18C;
}

.index_fun_learn-more a {
    background-color: #F5CEA9;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    border-radius: 5px;
    position: absolute;
    margin-top: 5%;
    right: 0;
}

.index_fun {
    position: relative;
    /* border: 2px solid red; */
    width: 100%;
}

.index_fun_learn-more a:hover {
    background-color: #D9B18C;
}

.index_news h2 {
    writing-mode: vertical-lr;
}

.index_news h3 {
    writing-mode: vertical-lr;

}

.index_news {
    /* border: 2px solid red; */
    max-width: 1200px;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    /* margin-left: 240px; */
    margin: auto;

}

.news_title {
    display: flex;

}

.index_news_content {
    /* border: 2px solid red; */
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    position: relative;
}

.index_news_content a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.1em;
    line-height: 3em;
    text-align: center;
}

.index_covid img {
    height: 346px;
    /* 可能會跑版 */
    border-radius: 5px;
}

.index_sales img {
    border-radius: 5px;
}

.news_title h3 {
    font-size: 48px;
    letter-spacing: 0.1em;
    padding-left: 20px;

}

.news_title h2 {
    font-size: 24px;
    margin-top: 60%;
    letter-spacing: 0.1em;
}

.index_covid {
    position: relative;
    /* border: 2px solid red; */
}

.index_covid:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.index_sales:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.index_news_learn-more {
    position: absolute;
    bottom: -20%;
    right: 0;
}

.index_news_learn-more a {
    background-color: #F5CEA9;
    padding: 5px 20px;
    letter-spacing: 0.1em;
    border-radius: 5px;
    /* position: absolute; */
    display: block;
    /* margin-top: 27%;
    right: 19%; */
    /* bottom: 2%; */
}

.index_news_learn-more a:hover {
    background-color: #D9B18C;
}



@media (max-width:768px) {
    .body h2 {
        font-size: 24px;
    }

    .body h3 {
        font-size: 14px;
    }

    .card h3 {
        text-align: center;
    }

    .card p {
        font-size: 12px;
        text-align: center;
        height: 0;
    }

    .cover {
        flex-direction: column;
        align-items: center;
        margin-top: 5%;

    }

    .cover img {
        object-fit: contain;
        width: 100%;
    }

    .slogan p {
        font-size: 20px;
        width: 100%;
        right: 5%;
    }

    .slogan img {
        width: 80%;
        right: 10%;
    }

    .cover h2 {
        font-size: 24px;
        margin: 5% 0 10%;
    }

    .concept p {
        font-size: 14px;
        line-height: 20px;
        line-height: 10px;
    }

    .sleep h2 {
        font-size: 24px;
        margin: 5% 2%;
    }

    .information {
        margin: 30% 0 12% 0
    }

    .learn-more a {
        right: 50%;
        margin-top: 0;
        max-width: calc(150px);
        font-size: 12px;
    }

    .book-now a {
        margin-top: 0;
        right: 10%;
        max-width: calc(150px);
        font-size: 12px;
    }

    .eat_fun {
        display: block;
        margin: 10%;
    }

    .eat_fun h2 {
        font-size: 24px;
    }

    .index_eat p {
        opacity: 1;
        background-color: rgb(0, 0, 0, .3);
        font-size: 12px;
    }

    .index_fun h2 {
        /* margin-top: 20%; */
        font-size: 24px;
    }

    .index_fun {
        margin-top: 30%;
    }

    .index_fun p {
        opacity: 1;
        background-color: rgb(0, 0, 0, .3);
        font-size: 12px;
    }

    .index_eat_learn-more {
        max-width: calc(150px);
        font-size: 12px;
    }

    .index_fun_learn-more {
        max-width: calc(150px);
        font-size: 12px;

    }

    .index_news h2 {
        writing-mode: horizontal-tb;
    }

    .index_news h3 {
        writing-mode: horizontal-tb;
    }

    .index_news {
        display: block;
        /* margin-top: 10%; */
    }

    .news_title {
        display: block;
    }

    .index_news_content {
        display: block;
        margin-left: 0;
        width: 100%;
    }

    .news_title h2 {
        margin: 5%;
        text-align: center;
    }

    .news_title h3 {
        margin: 0 0% 5%;
        font-size: 28px;
        text-align: center;
        padding: 0;
    }

    .index_sales p {
        margin-left: 0;
    }

    .index_sales {
        text-align: center;
        margin-bottom: 5%;
    }

    .index_covid {
        text-align: center;
    }

    .index_news_content a {
        display: inline-block;
    }

    .index_news_learn-more {
        bottom: -8%;
        right: 5%;
        max-width: calc(150px);
        font-size: 12px;
    }

}