body {
    font-family: 'Noto Serif TC', serif;
    background-color: #FDF3E5;
}

.header{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* border: 2px solid red; */
}

.header h1{
    color: #6D3C0E;
    font-weight: bold;
    margin:5% ;
    font-size: 36px;
}

.header img{
    padding-top: 3%;
    margin: 1%;
}

.banner{
    max-width: 1300px;
    margin:auto;
    /* border: 2px solid red; */
}

.banner img{
    width: 100%;
}

.form{
    max-width: 900px;
    margin: auto;
    /* border: 2px solid red; */
    background-color: rgb(255, 255, 255,.5);
    margin-top: 5%;
    /* height: 550px; */
    padding: 50px;
    box-sizing: border-box;
    
}

.form h1{
    font-size: 32px;
    /* padding: 0px 50px; */
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.form label{
    display: block;
    font-size: 24px;
    /* padding: 10px 50px; */
    letter-spacing: 0.1em;
    margin-bottom: 10px;
}

.form input{
    border: none;
    background-color: rgb(217, 217, 217,.5);
    padding: 10px;
    /* margin-left: 50px; */
    margin-bottom: 10px;
}

.form textarea{
    border: none;
    background-color: rgb(217, 217, 217,.5);
    padding: 10px;
    /* margin-left: 50px; */
    width: 500px;
}

#email{
    width: 500px;
}

.check-in{
    max-width: 900px;
    margin: auto;
    /* border: 2px solid red; */
    background-color: rgb(255, 255, 255,.5);
    margin-top: 5%;
}

.check-in p{
    padding: 50px;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.order{
    max-width: 900px;
    margin: auto;
    /* border: 2px solid red; */
    background-color: rgb(255, 255, 255,.5);
    margin-top: 5%;
    padding: 3%;
    box-sizing: border-box;
}
.detail{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.calender{
    display: flex;
    
}

.people{
    display: flex;
}

.calender img{
    width: 40px;
    height: 40px;

}

.people img{
    width: 30px;
    height: 30px;
}

.order h2{
    font-size: 32px;
}

.calender p{
    font-size: 24px;
    margin: auto;
    letter-spacing: 0.1em;
}
.people p{
    font-size: 24px;
    margin: auto;
    letter-spacing: 0.1em;
}

.room{
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.room img{
    border-radius:  5px;
}

.room p{
    font-size: 24px;
    letter-spacing: 0.1em;
    margin: auto;
    line-height: 2em;
}

.room h3{
    font-size: 32px;
    letter-spacing: 0.1em;
    padding-top: 20%;
}

.order h3{
    font-size: 32px;
    letter-spacing: 0.1em;
    margin-top: 3%;
}

.total{
    display: flex;
    letter-spacing: 0.1em;
    margin-top: 3%;
    justify-content: space-between;
    font-size: 24px;
}

.payment{
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1em;
    margin-top: 3%;
}

.left{
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 1%;
}

.right h3{
    color: #9A5412;
    line-height: 1.5em;
}

.right p{
    font-size: 24px;
    margin-left: 27%;
}

.atm{
    max-width: 900px;
    margin: auto;
    /* border: 2px solid red; */
    background-color: rgb(255, 255, 255,.5);
    margin-top: 5%;
    padding: 3%;
    padding-bottom: 5%;
    box-sizing: border-box;
    position: relative;
}

.pay_choice{
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 2em;
    
}

.atm h2{
    font-size: 32px;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.pay_choice input{
    width: 20px;
    height: 20px;
}

.next a {
    text-decoration: none;
    color: inherit;
    background-color: rgb(154, 84, 18, 0.78);
    color: white;
    padding: 16px 80px;
    position: absolute;
    margin-right: 3%;
    right: 0;
    letter-spacing: 0.1em;
    border-radius: 5px;
    font-size: 24px;
}

.next a:hover {
    background-color: #CCA581;
}

.button{
    margin-top: 3%;
}

.back a {
    text-decoration: none;
    color: inherit;
    background-color:none;
    color: black;
    padding: 16px 110px;
    position: absolute;
    margin-left: 3%;
    left: 0;
    letter-spacing: 0.1em;
    border-radius: 5px;
    font-size: 18px;
}

.back a:hover {
    background-color: #d6d6d6;
}

hr.style-one {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-top: 2%;
}

.color {
    background-color: rgb(154, 84, 18, 0.9);
}

.footer_container {
    max-width: 1200px;


    border-radius: 5px;
    margin: auto;
}

.footer {
    width: 100%;
    margin-top: 12.5%;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */

}

.footer h2 {
    writing-mode: vertical-lr;
    font-size: 32px;
    color: white;
    margin-top: 1%;
    letter-spacing: 0.1em;
    margin-right: 5%;
}

.footer h3 {
    font-size: 32px;
    color: white;
    font-weight: bold;
    margin-top: 1%;
    letter-spacing: 0.1em;
}

.palmy {
    position: relative;
    /* border: 2px solid red; */
    width: 70%;
}

.icon {
    position: absolute;
    right: 0;
    top: 2%;
    display: flex;
    /* border: 2px solid red; */
}

.ig {
    padding-left: 5%;
    box-sizing: border-box;
}

.footer_p {
    display: flex;
    font-size: 24px;
    margin-top: 2%;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: white;
}

/* .p2 {
    margin-left: 2%;
} */

.map {
    position: relative;
}

.map_a {
    position: absolute;
    right: 0;
    top: 0;
}

.map a {
    text-decoration: none;
    color: white;
}

.palmy a:hover {
    color: black;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    vertical-align: bottom;
}
.required-label::before {
    content: " *";
    color: red;
}

@media (width<768px) {
    .header h1{
        font-size: 28px;
    }

    .header img{
        width: 80px;
    }

    .form{
        max-width: 100%;
        margin: 5%;
        padding: 30px;
    }

    .form h1{
        font-size: 24px;
    }

    .form label{
        font-size: 18px;
    }

    .form textarea{
        width: 100%;
    }

    #email{
        width: 100%;
    }

    .check-in{
        margin: 5%;
        /* padding: 30px; */
        max-width: 100%;
    }

    .check-in p{
        font-size: 14px;
        padding: 30px;
    }

    .order{
        margin: 5%;
        padding: 30px;
        max-width: 100%;
    }

    .detail{
        display: block;
    }

    .calender img{
        width: 20px;
        height: 20px;
    }
    
    .people img{
        width: 15px;
        height: 15px;
        margin-top: 3%;
    }

    .order h2{
        font-size: 24px;
    }

    .order h3{
        font-size: 18px;
    }

    .order p{
        font-size: 14px;
    }

    .order h4{
        font-size: 18px;
    }

    .calender p{
        font-size: 18px;
        margin: 0 2%;
    }

    .people p{
        font-size: 18px;
        margin: 2% 3%;
    }

    .room{
        /* display: block; */
        max-width: 100%;
    }

    .room h3{
        font-size: 14px;
        padding-top: 10%;
        padding-left: 2%;
    }

    .room img{
        width: 45%;
        height: auto;
    }

    .room p{
        font-size: 14px;
       
    }

    .right p{
        margin-left: 20%;
    }

    .left{
        line-height: 1em;
    }

    .atm{
        margin: 5%;
        padding: 30px;
        max-width: 100%;
        padding-bottom: 15%;
    }

    .atm h2{
        font-size: 24px;
    }

    .atm label{
        font-size: 18px;
    }

    .next a{
        font-size: 18px;
        padding: 13px 40px;
    }

    .back a{
        font-size: 14px;
        padding: 16px 30px;
    }


}