.news_cover img{
    width: 100%;
    vertical-align: middle;
}

.circle{
    width: 100%;
    /* border: 2px solid red; */
    /* text-align: center; */
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.circle img{
    /* max-width: 1200px;
    margin: auto; */
    /* border: 2px solid red; */
    padding-top: 10%;
    
}

.circle_img{
    text-align: center;
}

.circle h1{
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 32px;
    letter-spacing: 0.1em;
}

.text{
    position: absolute;
    top: 0;
    left: 20%;
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 800px;
    justify-content: space-evenly;

}

.text p span{
    color: #6D3C0E;
    font-weight: bold;
}

.learn-more a {
    text-decoration: none;
    color: inherit;
    background-color: #F5CEA9;
    padding: 20px 30px;
    position: absolute;
    margin-top: -15%;
    right: 0;
    letter-spacing: 0.1em;
    border-radius: 5px;
    font-size: 32px;
}

.learn-more a:hover {
    background-color: #D9B18C;
}

hr.style-one {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-top: 2%;
}

.color {
    background-color: rgb(154, 84, 18, 0.9);
}

.footer_container {
    max-width: 1200px;


    border-radius: 5px;
    margin: auto;
}

.footer {
    width: 100%;
    margin-top: 12.5%;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */

}

.footer h2 {
    writing-mode: vertical-lr;
    font-size: 32px;
    color: white;
    margin-top: 1%;
    letter-spacing: 0.1em;
    margin-right: 5%;
}

.footer h3 {
    font-size: 32px;
    color: white;
    font-weight: bold;
    margin-top: 1%;
    letter-spacing: 0.1em;
}

.palmy {
    position: relative;
    /* border: 2px solid red; */
    width: 70%;
}

.icon {
    position: absolute;
    right: 0;
    top: 2%;
    display: flex;
    /* border: 2px solid red; */
}

.ig {
    padding-left: 5%;
    box-sizing: border-box;
}

.footer_p {
    display: flex;
    font-size: 24px;
    margin-top: 2%;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: white;
}

.p2 {
    margin-left: 2%;
}

.map {
    position: relative;
}

.map_a {
    position: absolute;
    right: 0;
    top: 0;
}

.map a {
    text-decoration: none;
    color: white;
}

.palmy a:hover {
    color: black;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    vertical-align: bottom;
}

@media (max-width:768px) {
    .circle{
        max-width: none;
    }

    .circle img{
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    .circle h1{
        font-size: 20px;
        top: 5%;
        left: 0;
    }

    .text{
        left: 0;
        font-size: 14px;
        /* line-height: 1.5em; */
        height: auto;
        width: 100%;
        justify-content: center;
        margin-top: 15%;
        padding: 5%;
        box-sizing: border-box;

    }

    .learn-more a{
        max-width: calc(150px);
        font-size: 12px;
        padding: 16px 20px;
        margin-top: -5%;
    }
}
