body {
    font-family: 'Noto Serif TC', serif;
    background-color: #FDF3E5;
}

.header{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* border: 2px solid red; */
}

.header h1{
    color: #6D3C0E;
    font-weight: bold;
    margin:5% ;
    font-size: 36px;
}

.header img{
    padding-top: 3%;
    margin: 1%;
}

.banner{
    max-width: 1300px;
    margin:auto;
    /* border: 2px solid red; */
}

.banner img{
    width: 100%;
}

.choice{
    display: flex;
    max-width: 1200px;
    margin: auto;
    /* border: 2px solid red; */
    margin-top: 2%;
    justify-content: space-between;
    font-size: 24px;
}

.choice label{
    margin-top: 3%;
}

.people p{
    font-size: 18px;
    margin-top: 4%;
}

.people{
    margin-top: 1%;
}

#result{
    font-size: 18px;
    margin-top: 2%;
}

.date button{
    border: none;
    font-family: 'Noto Serif TC', serif;
    font-size: 18px;
    padding:8px 15px ;
    cursor: pointer;
    border-radius: 4px;
    background-color: #F5CEA9;
    color: black;
    
}

.date button:hover{
    background-color: #D9B18C;
}

#startDate, #endDate{
    border: none;
    background-color: #EAD7C6;
    border-radius: 5px;
    color: black;
}

/* #starDate:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

#adults,#children,#infants{
    border: none;
    background-color: #EAD7C6;
    border-radius: 5px;
    color: black;
}

.room_information{
    max-width: 1200px;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* border: 2px solid red ; */
    margin-top: 3%;
}

.family{
    /* border: 2px solid red ; */
    position: relative;
}

.family img{
    width: 100%;
    /* margin: auto; */
    border-radius: 5px;
}

/* .tab {
    background-color: rgba(255, 225, 215);
    padding: 10px 15px;
    position: absolute;
    letter-spacing: 0.1em;
    border-radius: 5px;
    font-size: 18px;
    top: 0;
} */

.family h2{
    font-size: 32px;
    text-align: center;
    /* border: 2px solid red; */
    letter-spacing: 0.1em;
}

.next{
    margin-top: 15%;
}

.next a {
    text-decoration: none;
    color: inherit;
    background-color: rgb(154, 84, 18, 0.78);
    color: white;
    padding: 16px 90px;
    position: absolute;
    /* margin-top: 5%; */
    right: 0;
    letter-spacing: 0.1em;
    border-radius: 5px;
    font-weight: bold;
}

.next a:hover {
    background-color: #CCA581;
}

.btn btn-secondary{
    font-weight: 100;
    /* font-size: 16px; */
}

.family_middle{
    width: 200px;
    text-align: center;
    /* border: 2px solid red; */
}

.family_middle h3{
    font-size: 24px;
}

.family_amount{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.family_right{
    /* display: flex;
    justify-content: space-between; */
    width: 300px;
    /* border-left: 2px solid rgb(177, 177, 177,.5) ; */
    position: relative;
   
}

.family_bed{
    font-size: 24px;
    letter-spacing: 0.1em;
}

.family_bed h3{
    padding: 10px;
    box-sizing: border-box;
}

.bed{
    width: 40px;
}

.bed1{
    width: 70px;
}

.family_price{
    font-size: 18px;
    letter-spacing: 0.1em;
    /* border: 2px solid red; */
    /* position: absolute; */
    margin-top: 10%;

}

.family_price span{
    font-size: 24px;
    color: #9A5412;
}

#count1{
    font-size: 32px;
    color: black;
}

#count2{
    font-size: 32px;
    color: black;
}

#count3{
    font-size: 32px;
    color: black;
    
}

.family_amount p{
    font-size: 32px;
}

.family button{
    display: block;
    margin-top: 18%;
}

.family_amount button{
    /* border: 2px solid red; */
    width: 40px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.family_amount .minus{
    background-color: #EAD7C6;
    color: black;
}

.family_amount .plus{
    background-color: #F5CEA9;

}

.family_right .right2{
    margin-top: 20%;
}

.table1,.table2,.bottom{
    width: 300px;
    margin: auto;
    /* border: 2px solid red; */
}

th,td{
    padding: 5px;
}

td{
    text-align: right;
}

.p3{
    font-size: 24px;
    color: #9A5412;
}

.p1{
    font-size: 20px;
}

.right1_content{
    margin-top: 5%;
    padding-left: 10%;
}

.right1_content h2{
    text-align: center;
    margin: 0;
    /* border: 2px solid red; */
}

.family_flex{
    display: flex;
    /* border:2px solid red ; */
    width: 700px;
    justify-content: space-between;
    margin-bottom: 5%;
    border-bottom: 2px solid rgb(177, 177, 177,.5);
}



@media (max-width:768px) {
    .header h1{
        font-size: 28px;
    }

    .header img{
        width: 80px;
    }
    .choice{
        display: block;
        font-size: 18px;
        margin-left: 2%;
    }

    .choice p{
        font-size: 14px;
    }

    .date button{
        font-size: 14px;
        margin: 2%;
        padding: 5px 15px;
    }

    .room_information h2{
        font-size: 24px;
    }

    .room_information h3{
        font-size: 14px;
    }

    .family_price{
        font-size: 14px;
        margin-top: 3%;
        justify-content: flex-end;

    }

    .room_information span{
        font-size: 20px;
    }

    #count1{
        font-size: 20px;
    }
    #count2{
        font-size: 20px;
    }
    #count3{
        font-size: 20px;
    }

    .family_amount p{
        font-size: 20px;
    }

    .room_information{
        display: block;
    }

    .family{
        width: 100%;
        /* margin: auto; */
    }

    .family_flex{
        display: block;
        max-width: 100%;
        height: auto;
        
        
    }

    .family_bed{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .family_middle{
        width: 100%;
    }

    .family_flex h3{
        padding: 2%;
        margin: 0;
    }

    .family_bed img{
        width:calc(25px);
        height:calc(5%);
    }

    .family_amount button{
        height: 35px;
        width: 35px;
        margin: 2%;
    }

    .family_amount{
        justify-content: flex-end;
        margin-top: 3%;
    }

    .family_right h2{
        font-size: 20px;
        padding: 0;
    }

    .family_right p{
        font-size: 14px;
    }

    .right1_content .p1{
        font-size: 18px;
    }

    .right2 .p3{
        font-size: 18px;
    }

    .family_right{
        width: 100%;
        justify-content: space-evenly;
    }

    .right1_content{
        padding: 0;
    }

    .family_right .right2{
        margin-top: 10%;
    }

    .right1_content button{
        font-size: 10px;
        /* margin-left: 6%; */
    }

    .next a{
        padding: 10px 110px;
        margin: -10% 10%;
        /* font-size: 18px; */
    }


}









